* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
}

*:focus {
    outline: none;
}

body {
    background-color: #2a2438;
}

.top {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 2rem 1rem;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

#logo {
    width: 2rem;
}

#top_h {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0px;
}

.btn {
    background: none;
    border: none;
    color: #dbd8e3;
    margin: 1rem;
}

#play_btn {
    font-size: 4rem;
}

.bottom {
    margin-top: 250%;
    color: #333333;
    background: #dbd8e3;
    padding: 2rem 1rem;
}

.container {
    position: absolute;
    width: 70%;
    height: 60%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #352f44;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 1px 10px 24px -2px rgba(0,0,0,0.29);

}

#first_header{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

#second_header{
    font-size: 1rem;
}

#input {
    background: none;
    border: none;
    border-bottom: 2px solid #dbd8e3;
    color: white;
    width: 90%;
    margin: 1rem 0;
    text-align: center;
}


ul {
    list-style: none;
    margin-top: 1rem;
}

li {
    margin-top: 0.3rem;
    user-select: all;
}

#bot_p {
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width: 618px) {
    .container {
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        text-align: left;
        margin: 0px;
        align-items: stretch;
    }

    #first_header {
        font-size: 2rem;
        margin: 0.5rem;;
    }

    #second_header {
        font-size: 2rem;
        /* margin: 0.5rem; */
    }

    .right_output {
        margin-left: 0.5rem;
    }

    #input {
        margin: 0px;
        margin-top: 1rem;
    }

    ul {
        margin: 0px;
        margin-top: 0.3rem;
    }

    li {
        margin: 0px;
    }

    .bottom {
        margin-top: 50%;
        color: #333333;
        background: #dbd8e3;
        padding: 2rem 1rem;
    }
}

@media (min-width: 968px) {

    .container {
        height: 40%;
        top: 50%;
    }

    .bottom {
        margin-top: 49%;
    }

    #bot_p {
        font-size: 1.6rem;
        font-weight: 300;
    }

    #autor {
        font-size: 1.6rem;
    }

    #first_header {
        margin-top: 4rem;
        font-size: 3rem;
    }

    #second_header {
        font-size: 3rem;
        margin-top: 4rem;

    }

    #play_btn {
        font-size: 10rem;
    }

    #input {
        border-bottom: 3px solid #dbd8e3;
        color: white;
        width: 90%;
        margin: 3rem 0;
        text-align: center;
        font-size: 2rem;
    }
    
    ul {
        margin-top: 2rem;
    }
    li {
        font-size: 2rem;
    }

    #logo {
        width: 8rem;
    }
    
    #top_h {
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: 0px;
    }
}